<% if !@resume.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @resume.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="well">
  <%= form_for @resume, html: { multipart: true } do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.file_field :attachment, :class => 'attachment-field', :multiple => 'mupltiple', :data => {:multiple_caption => '{count} files selected'} %>
    <%= f.label :attachment, :class => 'btn btn-secondary btn-upload' do %>
      <span>Upload file</span>
    <% end %>  
    <br>  
    <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>
</div>